$max: 766px;
// $blue: rgb(83, 157, 192);
$primary: #fafafa;
$orange: #f7941f;
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Bubblegum+Sans);
body {
  background: transparent;
}
main {
  background: #ecf0f3;
  overflow-x: hidden;
}

section {
  position: relative;
  // background-image: radial-gradient(circle, #434343 0%, black 100%);
  padding: 32px 0;
  z-index: 60;
  // background: linear-gradient(to bottom, rgba(76, 193, 134,.5) 10%,transparent);
  
  h2 {
    text-align: left;
  }

}

main {
  .text {
    width: 100%;
    // height: 100vh;
    display: grid;
    place-items: center;
    // background-color: gray;
  
    &-box {
      width: 80%;
      background: #f4faff;
      padding: 42px 0;
      @media screen and (max-width:766px) {
        width: 95%;
        padding: 16px;
      }
    }
  }
  
  .horizontal-container {
      width: 800%;
      height: 100vh;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      overflow: hidden;
  }
  
p {
  font-size: 18px;
  color: #2f2b2b;
}

  .containerx {
      display: grid;
      place-items: center;
      width: 100vw;
      height: 100vh;
      padding: 0;
      &__img {
        width: fit-content;
        height: auto;
        margin: 0 auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
  }
  
  .list {
      // font-size: 80px;
      height: 75vh;
      width: 70vw;
      // display: grid;
      // justify-content: center;
      // align-items: center;
      background: #f4faff;
      @media screen and(max-width:766px) {
        width: 75vw;
        height: 90vh;
      }
      // outline: 1px solid red;
      //background-image: radial-gradient(circle at 47% 14%, rgba(205, 205, 205,0.04) 0%, rgba(205, 205, 205,0.04) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 35% 12%, rgba(215, 215, 215,0.04) 0%, rgba(215, 215, 215,0.04) 4%,transparent 4%, transparent 100%),radial-gradient(circle at 1% 35%, rgba(24, 24, 24,0.04) 0%, rgba(24, 24, 24,0.04) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 21% 1%, rgba(0, 0, 0,0.04) 0%, rgba(0, 0, 0,0.04) 26%,transparent 26%, transparent 100%),radial-gradient(circle at 23% 82%, rgba(249, 249, 249,0.04) 0%, rgba(249, 249, 249,0.04) 60%,transparent 60%, transparent 100%),radial-gradient(circle at 11% 54%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 23%,transparent 23%, transparent 100%),radial-gradient(circle at 69% 68%, rgba(234, 234, 234,0.04) 0%, rgba(234, 234, 234,0.04) 10%,transparent 10%, transparent 100%),linear-gradient(90deg, #f4faff,#f4faff);
      .wrap-detik {
        @media screen and (max-width:766px) {
          padding: 8px 16px;
        }
      }
      p {
        font-size: 24px;
        @media screen and (max-width:766px) {
          font-size: 18px;
        }
      }
  }
}

.isdesktop {
  display: block !important;
  @media screen and (max-width:766px) {
    display: none !important;
  }
}

.ismobile {
  display: none !important;
  @media screen and (max-width:766px) {
    display: block !important;
  }
}

.godaan {
  .wrap-detik {
    width: 720px;
    @media screen and (max-width:766px) {
      width: auto;
    }
  }
}

.banner {
  height: 100vh;
  position: relative;
  padding: 0;
  width: 100%;
  @media screen and (min-width:1440px) {
    height: 80vh;
  }

  @media screen and (max-width:766px) {
    height: 100vh;
  }

  &__titlex {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: white;
    width: 65%;
    @media screen and (min-width:1440px) {
      top: 15%;
      width: 62%;
    }
    @media screen and (max-width:766px) {
      transform: initial;
      left: initial;
      width: 100%;
      top: 20%;
    }
   
    h2 {
      margin: 0;
      font-size: 62px;
      padding: 0;
      color: white;
      span {
        font-size: inherit;
      }
      
      @media screen and (min-width:1440px) {
        width: 62vw;  
        text-align: center;
        font-size: 75px;
      }
      @media screen and (max-width:766px) {
        line-height: 50px;
        font-size: 42px;
        width: 100%;
        // border: 1px solid;
      }
      text-shadow: 0 0.1em 20px rgba(0, 0, 0, .8), 0.05em -0.03em 0 rgba(0, 0, 0, .8),
        0.05em 0.005em 0 rgba(0, 0, 0, .8), 0em 0.08em 0 rgba(0, 0, 0, .8),
        0.05em 0.08em 0 rgba(0, 0, 0, .8), 0px -0.03em 0 rgba(0, 0, 0, .8),
        -0.03em -0.03em 0 rgba(0, 0, 0, .8), -0.03em 0.08em 0 rgba(0, 0, 0, .8), -0.03em 0 0 rgba(0, 0, 0, .8);
      span {
        transform: scale(0.9);
        display: inline-block;
      }
      span:first-child {
        animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
          alternate;
      }
      span:last-child,span:nth-child(3) {
        animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
          infinite alternate;
          margin-left: 8px;
      }
    }
  }

  @keyframes bop {
    0% {
      transform: scale(0.9);
    }
    50%,
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes bopB {
    0% {
      transform: scale(0.9);
    }
    80%,
    100% {
      transform: scale(1) rotateZ(-3deg);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .tops86 {
    top: 86px;
    @media screen and (max-width:766px) {
      height: 95vh;
      top: 60px;
    }
  }
  &__img {
    // display: inline-block;
    // width: 25%;
    position: absolute;
   
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @media screen and (max-width:766px) {
        object-fit: cover;
      }
    }
  }
}

.blue-soft {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  padding: 32px;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  margin: 42px auto;
  position: relative;
  z-index: 23;
}


.paragraph {
  // padding: 32px 0;
  min-height: 80vh;
  position: relative;
  
  .categories {
    display: block;
    width: 800px;
    margin: 0 auto 16px;
    .mendatar {
      display: inline-block;
      width: 30%;
      height: 98px;
      padding: 16px;
      font-size: 22px;
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      margin: 8px;
      transition: .3s;
      &:hover {
        background: white;
      }
    }
  }
  
  p {
    font-size: 18px;
  // color: white;
   position: relative;
  // line-height: 20px;
  @media screen and (min-width:1440px) {
    font-size: 22px;
  }
  @media screen and (max-width:766px) {
    font-size: 18px;
  }
  }

  &__help2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 420px;
    height: auto;
    animation:jumpTwo 4s infinite linear;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__help {
    position: absolute;
    left: 0;
    bottom: 0;
    animation:jumpTwo 5s infinite linear;
    z-index: 31;
    @media screen and (max-width:766px) {
      width: 120px;
      height: 120px;
      bottom: -52px;
    }
    img {
      @media screen and (max-width:766px) {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  @keyframes jumpTwo {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    40% {
        -webkit-transform: translate3d(0,20px,0);
        transform: translate3d(0,20px,0)
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}
  
}


.to-up {
  cursor: pointer;
  color: white;
}

.credit {
  border-top: 5px solid #ff2759;
  // background: #c3c4c5;
  // background: #3a2c11;
  // background: #30250e;
  text-align: center;
  margin: 0 auto;
  background: #f4faff;
  display: block;

  .wrapings {
    display: block;
    width: 50%;
    margin: 0 auto 4px;

    @media screen and (max-width:766px) {
      width: 100%;
    }
  }

  // #c6c4c4
  .name,
  .jobdesc {
    color: #2f2b2b;
    display: inline-block;
    vertical-align: top;

    @media screen and (max-width: 766px) {
      font-size: 14px;
    }
  }

  .name {
    text-align: left;
    width: 45%;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;

    @media screen and (max-width:766px) {
      font-size: 16px;
    }
  }

  .jobdesc {
    text-align: right;
    width: 45%;
    font-size: 15px;
    margin-right: 16px;
    vertical-align: middle;

    @media screen and (max-width:766px) {
      font-size: 14px;
    }
  }
}

#nav {
  display: none !important;
}

#logo {
  display: none !important;
}


.logo-detik {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 999;
  width: 90px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: 766px) {
    top: 12px;
    left: 50%;
    width: 80px;
    transform: translate(-50%, 0px);
  }
}

main {
  // .container {
  //   @media screen and (max-width:766px) {
  //     width: 100%;
  //   }
  // }
}

.footer {
  z-index: 991 !important;
}

.penutup,.cool {
  position: relative;
  z-index: 100;
  min-height: 90vh;
  @media screen and (max-width:766px) {
    margin: 0 8px;
  }
  .left-side {
    display: inline-block;
    width: 45%;
    margin-right: 16px;
    vertical-align: top;
    @media screen and (max-width:766px) {
      width: 100%;
    }
    h3 {
      font-size: 48px;
      @media screen and (max-width:766px) {
        font-size: 40px;
      }
    }
    .color-pink {
      color: #ff2759 !important;
      // text-decoration: underline;
    }
  }
  .right-side {
    display: inline-block;
    width: 50%;
    margin-left: 8px;
    @media screen and (max-width:766px) {
      width: 100%;
    }
  }
}


.faq {
  list-style: none;
  margin: 0;
  padding: 0;
  .hehe {
    &::before {
      background-color: rgb(70 185 108 / 60%);
      content: "";
      position: absolute;
      width: calc(100% + 4px);
      height: 60%;
      left: -2px;
      bottom: 0;
      z-index: -1;
      transform: rotate(-2deg);
    }
    position: relative;
    width: fit-content;
    float: left;
    z-index: 6;
    cursor: pointer;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .question {
    margin-bottom: 24px;
  }
  .arrow {
    float: right;
    cursor: pointer;
    &__down {
      width: 32px;
      height: 32px;
      margin: 0 auto;
      transition: .3s;
      &.rotate {
        transform: rotate(180deg);
      }
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
  .clear {
    clear: both;
  }
}


.tahuns {
  color: #5486df;
}

.haha {
  margin: 0 auto;
  &::before {
    z-index: 2;
  }
  img {
    // transform: rotate(180deg);
  }
  small, img {
    position: relative;
    z-index: 66;
  }
}

.ukuran {
  position: sticky;
  top: 52px;
}

.bg-whitex {
  background: rgba($color: white, $alpha: .7);
  z-index: 99;
  position: relative;
  padding: 32px 24px;
  // border-radius: 16px;
  margin: 24px 0;
  @media screen and (max-width:766px) {
    background: rgba($color: white, $alpha: .9);
  }
}

.rotate {
  transform: rotate(180deg);
}

.lalala {
  transition: .3s;
}